#graph
{
    position:relative;
    width:660px;
    height:216px;
    margin:8px;
    padding:2em;
}
.thegraph {
    padding: 5em;
}
h2, h3 {
    color : white;
    font-style: 'Ubuntu', sans-serif;
    text-align: center;
}
.gaugecontainer {
    margin: auto;
    width: auto;
}
#graph ul
{
    position:absolute;
    top:0;
    left:32px;
    width:600px;
    height:200px;
    border-left:3px solid white;
    border-bottom:3px solid white;
}

#graph li
{
   position:absolute;
   list-style:none;
   background:lightblue;
   width:40px;
   text-align:center;
   border:3px solid white;
   visibility: hidden;
}
