#graph {
    position: relative;
    width: 90%;
    height: 216px;
    margin: 8px;
    padding: 2em;
}

.thegraph {
    padding: 5em;
}

h2, h3 {
    color: white;
    font-style: 'Ubuntu', sans-serif;
    text-align: center;
}
<<<<<<< HEAD

#graph ul {
    position: absolute;
    top: 0;
    left: 32px;
    width: 80%;
    height: 200px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
=======
.gaugecontainer {
    margin: auto;
    width: auto;
}
#graph ul
{
    position:absolute;
    top:0;
    left:32px;
    width:600px;
    height:200px;
    border-left:3px solid white;
    border-bottom:3px solid white;
>>>>>>> 0c6b20001d74efc66ac02d689cebfe6fb5d1bfda
}

#graph li {
    position: absolute;
    list-style: none;
    background: lightblue;
    width: 40px;
    text-align: center;
    border: 3px solid white;
    visibility: hidden;
}
