@import "base.scss";
body {
    header {
        img {
            width: 6em;
        }
        #login-dp{
            min-width: 250px;
            padding: 14px 14px 0;
            overflow:hidden;
            background-color:rgba(255,255,255,.8);
            .help-block{
                font-size:12px
            }
            .bottom{
                background-color:rgba(255,255,255,.8);
                border-top:1px solid #ddd;
                clear:both;
                padding:14px;
            }
            .social-buttons{
                margin:12px 0
            }
            .social-buttons a{
                width: 49%;
            }
            .form-group {
                margin-bottom: 10px;
            }
        }
        @media(max-width:768px){
            #login-dp{
                background-color: inherit;
                color: #fff;
            }
            #login-dp .bottom{
                background-color: inherit;
                border-top:0 none;
            }
        }

    }
    main {
        background-color: $color1;

        .hide-bullets {
            list-style:none;
            margin-left: -40px;
            margin-top:20px;
        }
        #myCarousel {
            height: 80vh;
            background-color: $color1;
            margin: 6em auto;
            min-height: 24em;
            .carousel-inner {
                background-color: $color1;
            }
            .item{
                i {
                    font-size: 3em;
                }
                padding: 3em;
                margin: auto;
                text-align: center;
                font-size: 3rem;
                vertical-align: middle;
                font-family: $font1;
                color: white;
            }
            .carousel-indicators li {
                background-color: $color1;
            }
            .carousel-control.left,
            .carousel-control.right {
                background-image: none
            }
        }
        #buttonlog {
            color : white;
            font-family: $font1;
            background-color: $color2;
            border-radius: 10px;
            padding: 1em 2em;
            border: none;
            text-transform : uppercase;
            margin: 2em;
            font-weight: bold;
            margin: 2em auto;
        }

    }
    footer {

        ul {
            li{
                list-style-type: none;
                a {
                    color: black;
                }
            }
        }
    }
}
